:root {
    --modal-bg-col: rgba(245, 255, 250, 1);
    --theme-col-dark-1: #464F51;
    --theme-col-light-1: #D6EEFF;
    --theme-col-dark-2: #72788D;
    --theme-col-light-2: #AAADC4;
    --theme-col-dark-3: #AAADC4;
}

* {
    margin: 0;
}

.PageModal {
    /* background-color: #ada8b6ee !important; */
    background-color: #5F6062 !important;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23be97c6' fill-opacity='0.2'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* width: 75% !important; */
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 10;
    background-color: var(--modal-bg-col);
    border-radius: 4px;
    /* box-shadow: 1rem 2rem 5px 1px rgba(3, 3, 3, .5); */
    align-items: flex-start;
    padding-right: 17px;
    /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
    /* So the width will be 100% + 17px */
}

.splash {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.text {
    font-family: lato;
}

.about {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.scrollbarHider {
    grid-row: 2 / 11;
    grid-column: 2 / 11;
    overflow: hidden;
    border-radius: 4px;
    /* box-shadow: -.5rem .5rem rgba(3, 3, 3, .5); */
}

.portfolio {
    /* display: flex; */
    /* flex-direction: row; */
    width: 100%;
    height: 100%;
    /* justify-content: space-evenly; */
    /* overflow: auto; */
}

.noScroll {
    grid-row: 2 / 11;
    grid-column: 2 / 11;
    border-radius: 4px;
    /* box-shadow: -.5rem .5rem rgba(3, 3, 3, .5); */
    overflow: hidden;
    padding: 0px;
}

@media screen and (min-width: 600px) {
    /* .scrollbarHider {
        grid-row: 2 / 10;
    }
    .noScroll {
        grid-row: 2 / 10;
    } */
}

@media screen and (min-width: 1000px) {
    .scrollbarHider {
        grid-column: 3 / 10;
    }
    .noScroll {
        grid-column: 3 / 10;
    }
}

/* @media screen and (min-width: 450px) {
    .scrollbarHider {
        grid-column: 2 / 11;
        grid-row: 2 / 11;
    }
} */