.NavTray {
  transition: all 0.5s;
  background-color: transparent;
  border: solid medium rgba(245, 255, 250, 0.84);
  border-top: none;
  display: flex;
  width: 70vw;
  border-radius: 3px;
  justify-content: space-around;
  align-items: center;
  z-index: 50;
  margin-right: auto;
  max-height: 15vh;
}

.NavTray a,
.NavTray a.active {
  text-decoration: none;
}

.NavTray a {
  margin: 0 5px;
}

.closed {
  transform: translateY(-20rem);
  opacity: 0;
}

@media (min-width: 500px) {
  .NavTray {
    padding: 1rem 2rem;
    margin-right: 5rem;
  }
}

@media (max-width: 350px) {
  .NavTray {
    padding: 0;
    margin-right: 1rem;
  }
}
