:root {
    --btn-box-bg-col: cyan;
    --box-shadow-nothover: rgba(3, 3, 3, .15);
}

/* Wraps message container and text container */

.pageWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
}

/* Wraps messages */

.messageWrapper {
    grid-column: 1 / -1;
    grid-row: 1 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    box-sizing: content-box;
    padding-right: 18px;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
}

/* Wraps buttons */

.ButtonBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-row: 7 / -1;
    grid-column: 1 / -1;
    border: solid medium var(--btn-box-border-col);
    overflow-y: scroll;
    /* overflow-x: scroll; */
    width: 100%;
    flex-shrink: 1;
    max-height: 40rem;
    flex-flow: row wrap;
}

.ButtonBox:hover div:not(:hover) {
    transform: scale(.95);
    opacity: .5;
    box-shadow: 1px 3px 2px 1px var(--box-shadow-nothover);
}

.ButtonBox div {
    margin: 1rem 2rem;
}

.ButtonBox::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

/* Styling for initial display of story buttons */

.ButtonBox.intro {
    grid-row: 7 / 10;
    grid-column: 1 / 6;
}

/* Styling specific to introductory messages */

.introModal {
    text-align: center;
    max-width: 85%;
}

.introModal p {
    font-weight: 600;
    font-family: "Playfair Display";
}

.introModal .Papyrus {
    font-family: "papyrus";
}

.introModal div {
    width: 95%;
    margin: 1rem;
    display: inline-block;
}

.sceneModal {
    margin-top: 1rem;
    justify-content: center;
    width: 90%;
}

.sceneModal div {
    display: inline-block;
    width: 100%;
}

.multiLine {
    /* display: block; */
    white-space: pre-wrap;
    margin: 2px;
}

/* Utilities */

.addSpaceBottom {
    margin-bottom: 3rem
}

.textEmphasis {
    color: var(--theme-green);
}

@media (min-width: 600px) {
    .messageWrapper {
        grid-column: 1 / -1;
        grid-row: 1 / 7;
    }
    .introModal p {
        font-size: 2.5rem;
    }
    .ButtonBox {
        grid-row: 7 / -1;
        overflow: hidden;
    }
    .ButtonBox.intro {
        grid-row: 7 / -1;
        grid-column: 1 / 6;
    }
    .ButtonBox {
        
    }
}

@media (min-width: 1000px) {

}

@media (max-width: 360px) {
    .introModal {
        /* margin: .5rem; */
    }
    .introModal div {
        margin: .5rem;
        padding: .75rem 1.5rem;
    }
    .ButtonBox {
        margin: 0;
    }
}